<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <%= content_tag 'div', '',
                        class: 'event-background',
                        style: "background-image: url(#{asset_path('event_thumb.jpg')})"
        %>
        <div class="thumbnail-inner event-info-inner">
            <div class="caption">
                <div class="event-description">
                  <h3><%= link_to event.title, event_path(event) %></h3>
                  <h3>
                    <small><%= l event.datetime, format: :long %></small>
                  </h3>
                  <div class="buffer-both"><%= event.address %></div>
                </div>
            </div>
        </div>
    </div>
</div>